#app_container{
    width: 60%;
    margin-top: 75px;
    margin: 75px auto 0px auto;
    background-color: cornsilk;
}
#app_container h1{
    text-align: center;
}
#task_input_wrapper{
    display: block;
    width: 99%;
    border: none;
    border-bottom: 0.5px solid lightgray;
    border-top: 0.5px solid lightgrey;
    height: 3rem;
}
#task_input{
    display: block;
    margin-right: 0;
    width: 98%;
    border: none;
    height: 25px;
}
.date_container{
    width: 49%;
    margin-right: 0;
    display: inline-block;
}
#select_date{
    width: 97%;
    height: 3rem;
    border: none;
    border-top: 0.5px solid lightgrey;
    border-bottom: 0.5px solid lightgrey;
}
.option_container{
    width: 49%;
    margin-right: 0;
    display: inline-block;
}
#card_option{
    width: 100%;
    height: 3rem;
    border: none;
    border-top: 0.5px solid lightgrey;
    border-bottom: 0.5px solid lightgrey;
}
#btn_container{
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#task_add{
    height: 3rem;
    background-color: #200f0f;
    color: white;
    font-family: sans-serif;
    width: 150px;
    margin-right: 3px;
}
#task_delete{
    height: 3rem;
    background-color: #cb1414;
    color: white;
    font-family: sans-serif;
    width: 150px
}
#list_container ul{
    list-style: none;
    padding: 15px;
    margin: 0;
}
#list_container li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    border-top: 0.7px solid lightgrey;
    border-bottom: 0.7px solid lightgrey;
}
.task_checkbox{
    margin: 0;
    margin-right: 10px;
}
.task_container{
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly
}
.list_task{
    margin: 0;
    font-size: 25px;
}
.task_due_date{
    margin: 0;
    font-size: 15px;
    font-family: ui-monospace;
}
.task_label{
    display: inline-flex;
    border: 1px solid;
    width: 90px;
    height: 35px;
    justify-content: center;
    align-items: center;
}

/* Hovering effects on input form and Submit Buttons */
.input_hover :hover{
    background-color: #dbe4eb;
}
.option_container :hover{
    background-color: #dbe4eb;
}
.date_container :hover{
    background-color: #dbe4eb;
}
#task_add:hover{
    background-color: #2e1c1c;
}

#task_delete:hover{
    background-color:#ef1212 ;
}

input[type=checkbox] {
          accent-color: green;
        }

/*------------------ LABEL COLOR CLASSES IN JAVASCRIPT -----------*/

.green{
    background-color: green;
    color: white;
}
.yellow{
    background-color: yellow;
    color: white;
}
.blue{
    background-color: blue;
    color: white;
}
.purple{
    background-color: purple;
    color: white;
}
.orange{
    background-color: orange;
    color: white;
}
